.footer {
  background: gray(50);
  padding: gap(5);
  position: relative;
  z-index: 20;

  &__content {
    @include media-container();

    .social-links {
      display: flex;
      justify-content: center;

      &__items {
        display: flex;
        margin: 5px;
      }

      &__item {
        margin-right: 30px;
      }

      &__link {
        text-transform: initial;
        color: #772e53a1;
        font-size: 17px;
        font-weight: bold;

        &:hover {
          color: #2856b3;
        }
      }

      &__icon {
        max-width: 50px;
        max-height: 50px;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .menu.menu--footer {
      justify-content: center;

      .menu__item {
        margin-bottom: gap(3);

        .menu__link {
          color: black;

          &:hover {
            color: #e06060;
          }
        }
      }
    }
  }
}

.footer__copyright {
  text-transform: uppercase;
  text-align: center;
  color: gray(150);
  font-size: 14px;
}

.footer__top {
  color: black;
  display: flex;
  max-width: 50px;
  max-height: 50px;
  margin: 0 auto;
  padding-top: 20px;
}

.footer__top::before {
  content: url("https://www.flaticon.com/svg/vstatic/svg/992/992534.svg?token=exp=1617922223~hmac=464e9c6ef4d18c60ea2398b736f4216c");
  display: block;
  width: 50px;
  height: 50px;
}
