.blog-article-related-posts {
  margin-bottom: gap(3);
  background: gray(50);
  padding: 20px;

  &__title {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
  }

  &__items {
    display: flex;
  }

  &__item {
    flex-wrap: wrap;
    margin: gap(1);
  }
}
